<div class="wrapper">
	<div class="page-title">
		<div class="star-holder fill"><span class="star">Fave</span></div>
	</div>
	<div class="heading">
		<h1>Property Cross</h1>
	</div>
	<div class="container">
		<p>Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!</p>
		<form class="form-block" action="#">
			<input type="text" placeholder="my location" class="text" id="city">
			<div class="btn-row">
				<input type="search" class="btn-search" id="search" value="GO!">
				<a class="btn-location" href="#">Location</a>
			</div>
			<div class="search-block">
				<label>Recent searches:</label>
				<ul class="searches-list">
					<li><a href="#"><span class="search-num">(1111)</span><span class="search-text">Smth1</span></a></li>
					<li><a href="#"><span class="search-num">(1111)</span><span class="search-text">Smth1</span></a></li>
					<li><a href="#"><span class="search-num">(1111)</span><span class="search-text">Smth1</span></a></li>
					<li><a href="#"><span class="search-num">(1111)</span><span class="search-text">Smth1</span></a></li>
					<li><a href="#"><span class="search-num">(1111)</span><span class="search-text">Smth1</span></a></li>
				</ul>
			</div>
			<div class="search-block hide">
				<label>Please select a location below:</label>
				<ul class="searches-list">
					<li><a href="#">Location#1</a></li>
					<li><a href="#">Location#2</a></li>
					<li><a href="#">Location#3</a></li>
					<li><a href="#">Location#4</a></li>
					<li><a href="#">Location#5</a></li>
				</ul>
			</div>
		</form>
	</div>
</div>